# Database
POSTGRES_USER=table-2-taste
POSTGRES_PASSWORD=SCbK9nkVHcgjLS
POSTGRES_DB=table2taste

# Backend Spring
DB_URL=jdbc:postgresql://db:5432/table2taste
JWT_SECRET=5ee9b307d37af03d6081d53f0ab8756b9d38b00f61a125525531e1b436b0f66d
JWT_EXPIRATION_MS=3600000
TABLE_PASSWORD=xgEne4Kq
DEFAULT_LANGUAGE=es
FILE_PATH=uploads/

# Spring (opcional)
SPRING_PROFILES_ACTIVE=prod

# Liquibase (opcional)
# LIQUIBASE_CONTEXTS=dev
